<% @title = "Listing mics" %>

<% content_for :description do %>
<!-- <p>
  <%= form_tag import_mics_path, multipart: true do %>
    <%= file_field_tag :file , class: 'btn btn-default btn-small pull-left' %>
    <%= submit_tag "Bulk Import", class: 'btn btn-primary btn-small pull-left' %>
</p>    
  <% end %> -->
<% end %>

<% content_for :actions do %>
<%= link_to new_mic_path, class: 'btn btn-primary btn-large pull-right' do %>
<%= fa_icon_tag "plus" %> Add Mic
<% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <%= will_paginate @mics %>
          <table class="table" id="micsdatatable">
            <thead>
              <tr>
                                <th>Isolate</th>
                                <th>Drug</th>
                                <th>Value</th>
                                <th>Edge</th>
                                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @mics.each do |mic| %>
              <tr>
                                <td><%= mic.isolate_id %></td>
                                <td><%= Drug.find_by(drugid: mic.drug_id).name %></td>
                                <td><%= mic.value %></td>
                                <td><%= mic.edge %></td>
                                <td class="actions">
                  <%= link_to fa_icon_tag("eye"), mic, rel: 'tooltip', title: 'Show' %>
                  <%= link_to fa_icon_tag("pencil"), edit_mic_path(mic), rel: 'tooltip', title: 'Edit' %>
                  <%= link_to fa_icon_tag("trash-o"), mic, rel: 'tooltip', title: 'Delete',
                  data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
              <% end %>
              <% if @mics.length == 0 %>
              <tr><td colspan=42 class='text-center'>No mics.</td></tr>
              <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

                </div>
  </div>
</div>