<% @title = "Showing mic" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-horizontal">
                <div class="form-group">
          <label class="col-md-2 form-label">Result</label>
          <div class="col-md-10 form-control uneditable-input">
            <span>
              <%= @reaction %>
            </span>
          </div>
        </div>

         <div class="form-group">
          <label class="col-md-2 form-label">Isolate</label>
          <div class="col-md-10 form-control uneditable-input">
            <span>
              <%= @mic.isolate_id %>
            </span>
          </div>
        </div>

                <div class="form-group">
          <label class="col-md-2 form-label">Drug</label>
          <div class="col-md-10 form-control uneditable-input">
            <span>
              <%= @mic.drug.name %>
            </span>
          </div>
        </div>

                <div class="form-group">
          <label class="col-md-2 form-label">Value</label>
          <div class="col-md-10 form-control uneditable-input">
            <span>
              <%= @mic.value %>
            </span>
          </div>
        </div>

                <div class="form-group">
          <label class="col-md-2 form-label">Edge</label>
          <div class="col-md-10 form-control uneditable-input">
            <span>
              <%= @mic.edge %>
            </span>
          </div>
        </div>

                <div class="form-actions col-md-offset-2">
          <%= link_to fa_icon_tag("pencil") + ' Edit', edit_mic_path(@mic), class: 'btn btn-primary' %>
          <%= link_to 'Back', mics_path, class: 'btn' %>
        </div>
      </div>
    </div>
  </div>
</div>